@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  min-height: 100vh;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.main-content {
  width: 70%;
  margin: 110px auto 0 auto;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.background-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://images.unsplash.com/photo-1543353071-873f17a7a088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  /* background-attachment: fixed; */
  z-index: -1;
}

.page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.45);
  z-index: -1;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* Start header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
}

.brand {
  width: 50%;
  display: flex;
  align-items: center;
}

.brand a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #f4f4f4;
  margin-right: 1rem;
}

.logo {
  margin-right: 1rem;
}

.brand-name {
  white-space: nowrap;
  font-size: 21px;
  font-weight: 500;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  list-style: none;
  font-size: 21px;
  color: #f4f4f4;
  cursor: pointer;
  margin-left: 20px;
}

.header ul li:hover {
  color: #777;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #f4f4f4;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

/* End header */

/* Start navbar */

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.toggle-btn {
  z-index: 9;
  position: sticky;
  width: 33px;
  height: 21px;
  top: .75rem;
  right: 1rem;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-btn .bar {
  height: 3.3px;
  background-color: #f4f4f4;
  border-radius: 6px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu.active {
  visibility: visible;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
}

.mobile-menu ul li a {
  font-size: 24px;
}

/* End navbar */

.card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 14px;
  padding: 0 20px;
}

.heading h1 {
  color: #f4f4f4;
}

.heading p {
  color: #f4f4f4;
}

.card p {
  color: #f4f4f4;
  margin-bottom: 5px;
}

.card p > a {
  margin-left: 5px;
  color: #f4f4f4;
  text-decoration: underline;
}

/* Start Popup */

.active-popup {
  overflow-y: hidden;
}

.popup, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
}

.popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  color: #000;
  padding: 14px 28px;
  border-radius: 0.25rem;
  max-width: 900px;
  min-width: 300px;
  max-height: 60vh;
  overflow-y: auto;
}

.close-popup {
  position: absolute;
  background: transparent;
  color: #000;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  cursor: pointer;
}

/* End Popup */

/* Start Meals */

.meals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.meal {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.tile {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  transform: translateY(-3px);
  transition: 0.5ms;
}

.tile-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 5px 0 0;
}

.tile-header h4 {
  color: #f4f4f4;
}

.tile-content {
  margin-top: 1rem;
  padding: 0 10px;
}

.tile-content h2 {
  color: #f4f4f4;
}

.btn-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.tile .close,
.tile .edit {
  cursor: pointer;
  border: none;
  background: none;
  color: #f4f4f4; 
}

.recipe p,
.recipe ul,
.recipe ol {
  text-align: left;
}

/* End Meals */

/* Start Forms */

.form,
.page-content {
  width: 70%;
  margin: 0 auto;
}

.page-content > h3 {
  color: #f4f4f4;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group input {
  border-radius: 5rem;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  min-width: 50px;
  color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.confirm-icon {
  min-width: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  background:rgba(0, 0, 0, 0.7);
  border-radius: 5rem;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
  background: rgba(0, 0, 0, 0.8);
}

.add-file-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* End Forms */

/* Start Spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Spinner */

/* Start Profile */

.grid {
  text-align: center;
  display: grid;
  width: 75vw;
  height: 75vh;
  grid-template-areas: 
  'side top top'
  'side bottom bottom'
  'side bottom bottom';
  gap: 10px;
  grid-template-columns: 3fr 3fr;
}

.box {
  border-radius: 5px;
}

.box-1 {
  height: 100%;
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.row {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 5px;
}

.row-header {
  text-align: left;
  padding: 5px 12px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px 5px 0 0;
}

.row-header h4 {
  color: #f4f4f4;
}

.row-content {
  margin-top: 1rem;
  padding: 0 10px;
}

.row-content h2 {
  color: #f4f4f4;
}

.box-2 {
  grid-area: top;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-2-content {
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.circle {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 10px 10px 0 0;
}

.circle h1 {
  color: #f4f4f4;
  margin-top: 11px;
}


.box-3 {
  grid-area: bottom;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/* End Profile */

.footer {
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-top: 15px;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  /* Start navbar */

  .navbar > ul {
    display: none;
  }

  .toggle-btn {
    display: flex;
  }

  .toggle-btn.close .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .toggle-btn.close .bar:nth-child(2) {
    display: none;
  }

  .toggle-btn.close .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  /* End navbar */

  .heading p {
    font-size: 1rem;
  }

  .meals {
    display: flex;
    flex-direction: column;
  }

  .tile:hover {
    transform: none;
  }
}