@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  margin: 0;
  padding: 1.5rem;
  height: auto;
  min-height: 100vh;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.dlt-btn {
  color: #ff0000;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-self: center;   
}



